
//primary-color
$cl-color-primary: #9B2309;
$cl-color-primary-hover:#af3e24 ;

//secondary-color
$cl-color-secondary: #EEAB9C;
$cl-color-secondary-hover: #d17d68;

//ghost-color
$cl-color-ghost: $cl-color-primary;
$cl-color-ghost-hover:  #F9F9F9 ;

$cl-text-primary: #9B2309;
$cl-text-white: #F9F9F9;
$cl-bg-color-ghost: #F9F9F9;



